// importing other scss files
@import "_utility";
@import "_colors";
// body styles
body {
    min-height: 100vh;
    width: 100%;
    font-family: "Nunito", sans-serif;
}

// showcase styles
.showcase {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: $light-bg;
    background-image: url("/assets/backgrounds/showcase-hello-bg.svg");
    background-size: 65%;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        // humberger
        .humberger-menu {
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            height: 5rem;
            width: 6rem;
            z-index: 10000;
            cursor: pointer;
            span {
                height: 6px;
                width: 6rem;
                background-color: $light-blue;
                display: block;
                margin: 9px 0;
                transition: all 0.5s ease-in-out;
            }
        }
        // humberger animation
        .animate .line-2 {
            transform: translateX(-3rem);
            opacity: 0;
        }
        .animate .line-1 {
            transform: translateY(250%) rotateZ(45deg);
        }
        .animate .line-3 {
            transform: translateY(-250%) rotateZ(-45deg);
        }
        // navbar
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // logo
            .logo {
                margin-left: -1rem;
                img {
                    height: 7rem;
                    width: 7rem;
                }
            }
            ul {
                position: fixed;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                background-color: $dark-bg;
                justify-content: center;
                align-items: center;
                transform: translateY(-100%);
                transition: all 0.5s ease-in-out;
                z-index: 100;
                li {
                    margin: 2rem auto;
                    width: 100%;
                    text-align: center;
                    a {
                        color: $light-font-color;
                        font-size: 2rem;
                    }
                }
            }
            // navbar toggle class
            .open {
                transform: translateY(0);
            }
            .close {
                transform: translateY(-100%);
            }
        }
        .showcase-contents {
            margin: 0 0 3rem 0;
            padding: 3rem 0;
            position: relative;
            width: 100%;
            height: 400px;
            h2 {
                font-size: 2.5rem;
                font-weight: bolder;
                color: $dark-2;
                margin-top: 2rem;
            }
            .stroke-alireza {
                // -webkit-text-stroke: 2px $light-blue;
                color: $dark-2;
                position: absolute;
                top: 8rem;
                left: 0%;
                font-size: 6rem;
            }
            .alireza {
                content: "";
                top: 8rem;
                left: 0%;
                position: absolute;
                animation: text-wave 5s ease-in-out infinite;
                color: $light-blue;
                z-index: 10;
                font-size: 6rem;
            }
            @keyframes text-wave {
                0%,
                100% {
                    clip-path: polygon( 0 46%, 11% 41%, 28% 41%, 42% 48%, 56% 61%, 68% 75%, 84% 81%, 99% 84%, 100% 100%, 0 100%);
                }
                50% {
                    clip-path: polygon( 0 81%, 10% 78%, 26% 71%, 39% 64%, 56% 49%, 71% 42%, 88% 41%, 100% 48%, 100% 100%, 0 100%);
                }
            }
            p {
                margin-top: 7.5rem;
                font-size: 1.8rem;
                text-align: left;
            }
            button {
                margin-top: 1.5rem;
                display: inline-block;
                padding: 0.5rem 1rem;
                border: 1px solid $light-blue;
                background-color: transparent;
                color: $light-blue;
                font-size: 1.5rem;
                font-weight: bold;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                z-index: 10;
                transition: all 0.5s ease-in-out;
            }
            button::before {
                content: "";
                position: absolute;
                background-color: $light-blue;
                width: 100%;
                height: 0;
                left: 0;
                bottom: 0;
                border-radius: 50% 50% 0 0;
                transition: all 0.5s ease-in-out;
                z-index: -1;
            }
            button:hover {
                color: $light-font-color;
            }
            button:hover::before {
                height: 180%;
            }
        }
    }
}

// wave effect on showcase ---------------------------
.showcase::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-image: url("/assets/waves/Vector.svg");
    z-index: 10;
    animation: wave 20s ease infinite;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes wave {
    0% {
        background-position: 0;
    }
    25% {
        background-position: 25%;
    }
    50% {
        background-position: 50%;
    }
    75% {
        background-position: 75%;
    }
    100% {
        background-position: 100%;
    }
}

// showcase after
.showcase::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-image: url("/assets/waves/Vector-2\ \(2\).svg");
    z-index: 10;
    animation: wave-2 15s ease infinite;
    background-size: cover;
    background-repeat: no-repeat;
    animation-delay: 0s;
}

@keyframes wave-2 {
    0% {
        background-position: 0;
    }
    25% {
        background-position: 25%;
    }
    50% {
        background-position: 50%;
    }
    75% {
        background-position: 75%;
    }
    100% {
        background-position: 100%;
    }
}

// showcase wave effect ends -------------
// media queries for large screens -------------------------------
@media screen and (min-width: 768px) {}